.separator {
  position: relative;
}

.line {
  border-top: 1px solid #bababa;
  width: 250px;
  margin-bottom: 25px;
}

.categories {
  margin-left: 50px;
  max-width: 200px;
}

.categories ul li {
  font-size: 16px;
  margin-bottom: 8px;
  color: #152d5d;
}

.container-main {
  display: flex;
  /*width: 1200px;*/
  width: 100vw;
  margin: 20px auto;
  padding: 0 100px;
}

.section-livros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 50px;
}

.livro {
  width: 250px;
  height: 370px;
  background-color: #cfcfcf;
  border-radius: 10px;
  text-align: center;
}

.livro img {
  height: 275px;
  margin-top: 25px;
}

.livro h5 {
  font-size: 20px;
  margin-top: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
